# Core Machine Learning & Data Processing
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.6.0
xgboost==2.0.3
shap==0.46.0
joblib==1.4.2

# WFDB & Signal Processing
wfdb==4.1.2
neurokit2==0.2.13
scipy==1.17.1

# Fast API Backend
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
pydantic==2.10.3

# RAG & Explainability (Phi3)
chromadb==0.6.0
sentence-transformers==3.3.1
ollama==0.4.4
